<footer class="main">
  <div class="container">
    <div class="row">
      <div class="f-col">
        <h4>company</h4>
        <ul>
          <li><a href="#" > About us</a></li>
          <li><a href="#" > Our services</a></li>
        </ul>
      </div>
      <div class="f-col">
        <h4>Get Help</h4>
        <ul>
          <li><a href="#" > FAQ </a></li>
        </ul>
      </div>
      <div class="f-col">
        <h4>Follow Us</h4>
        <a href="#" class="Social-links">
          <mat-icon>facebook</mat-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
